.sign-in {
  display: flex;
}

.dropdown {
  position: relative;
}

.account-icon {
  width: 90px;
  height: 30px;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.overflow {
  position: absolute;
  z-index: 99;
  overflow: hidden;
}

.hide-menu {
  width: 90px;
  @keyframes dropdown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  animation: dropdown 0.3s ease;
}

.signout {
  cursor: pointer;
}
