.sign-in {
  display: flex;

  .user-name {
    color: white;
    line-height: 32px;
    margin-right: 10px;
  }
}

.dropdown {
  position: relative;
  margin-right: 25px;
}

.account-icon {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  color: white;
}

.overflow {
  position: absolute;
  z-index: 99;
  overflow: hidden;
  top: 40px;
}

.hide-menu {
  width: 90px;
  height: 100px;
  @keyframes dropdown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  animation: dropdown 0.3s ease;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.member {
  row-gap: 15px;
}

.not-member {
  row-gap: 5px;
}

.sign-out {
  cursor: pointer;
}

.dropdown-text,
.sign-out {
  font-size: 1.01rem;
}

@media (min-width: 448px) and (max-width: 947px) {
  .dropdown {
    margin-right: 10px;
  }
}

@media (max-width: 447px) {
  .dropdown {
    margin-right: 0;
  }
}

@media (max-width: 365px) {
  .account-icon {
    justify-content: center;
    width: 75px;
  }

  .hide-menu {
    width: 70px;
  }

  .dropdown-text,
  .sign-out {
    font-size: 0.82rem;
  }
}
