.container {
  margin: 0 auto;
  width: 1500px;
  height: 700px;
}

.nav-container,
.page-container {
  display: flex;
}

.page-container {
  margin-top: 40px;
  justify-content: space-around;
  align-items: center;
}

.slick-prev:before {
  color: black;
}

.slick-next:before {
  color: black;
}
