.boxoffice-container {
  margin: 30px auto;
  width: 1500px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .container-name {
    text-align: center;
    letter-spacing: 0.6rem;
    font: {
      weight: 900;
      size: 2.4rem;
    }
  }
}

.nav-container,
.page-container {
  display: flex;
}

.page-container {
  justify-content: space-around;
  align-items: center;

  .no-data {
    text-align: center;
  }
}

.nav-container {
  justify-content: flex-end;
  align-items: center;

  .date-range {
    font-size: 1.5rem;
  }
}

.button-wrapper {
  margin: 0 200px 0 300px;
  display: flex;
  column-gap: 13px;

  .nav-button {
    border: 0;
    border-radius: 14px;
    width: 55px;
    text-align: center;
    background-color: lightgray;

    &:hover {
      background-color: darkgray;
    }
  }
}

@media (max-width: 1500px) {
  .boxoffice-container {
    width: auto;
    align-items: center;
  }

  .nav-container {
    justify-content: center;

    .button-wrapper {
      margin: 0 0 0 50px;
    }
  }

  .page-container {
    width: 98%;
  }
}

@media (max-width: 1023px) {
  .boxoffice-container {
    height: 1050px;
    margin: 20px 0;
    justify-content: center;
    row-gap: 20px;
  }

  .nav-container {
    margin-bottom: 10px;
  }

  .page-container {
    flex-direction: column-reverse;
  }
}

@media (min-width: 580px) and (max-width: 740px) {
  .container-name {
    font-size: 2.2rem;
  }

  .date-range {
    font-size: 1.3rem;
  }
}
