.slide-custom {
  margin: 0 auto;
  width: 90.5vw;
}

@media (min-width: 443px) and (max-width: 768px) {
  .slide-custom {
    width: 92vw;
  }
}

@media (max-width: 442px) {
  .slide-custom {
    width: 93vw;

    .slick-list {
      margin: 0 auto;
      width: 50%;
      min-width: 200px;
    }
  }
}

@media (min-width: 769px) and (max-width: 1440px) {
  .slide-custom {
    .slick-prev,
    .slick-next {
      top: 45%;
    }
  }
}

@media (max-width: 768px) {
  .slide-custom {
    .slick-prev,
    .slick-next {
      top: 46%;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .slide-custom {
    .slick-prev::before,
    .slick-next::before {
      font-size: 2.5rem;
    }

    .slick-prev {
      left: -45px;
    }
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .slide-custom {
    .slick-prev::before,
    .slick-next::before {
      font-size: 2rem;
    }

    .slick-prev {
      left: -35px;
    }
  }
}

@media (min-width: 571px) and (max-width: 768px) {
  .slide-custom {
    .slick-prev::before,
    .slick-next::before {
      font-size: 1.5rem;
    }

    .slick-prev {
      left: -27px;
    }
  }
}

@media (min-width: 443px) and (max-width: 570px) {
  .slide-custom {
    .slick-prev::before,
    .slick-next::before {
      font-size: 1rem;
    }

    .slick-prev {
      left: -19px;
    }
  }
}

@media (max-width: 442px) {
  .slide-custom {
    .slick-prev::before,
    .slick-next::before {
      font-size: 2rem;
    }

    .slick-prev {
      left: -10px;
    }

    .slick-next {
      right: 13px;
    }
  }
}
