.slide-cast {
  width: 1000px;
  margin-right: 50px;
}

.cast {
  width: 150px;
  height: 225px;
  object-fit: contain;
  display: block;
}

.no-actor {
  width: 150px;
  height: 200px;
  background-color: #b4b4b4;
}
