.cast-sec {
  margin: 20px 0 15px;
  width: 60%;

  h6 {
    font-size: 1.7rem;
    margin-bottom: 15px;
  }
}

.slide-cast {
  width: 85%;
  margin-left: 60px;

  p {
    width: 150px;
    font-size: 0.9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.cast {
  width: 150px;
  height: 225px;
  object-fit: contain;
  display: block;
}

.no-actor {
  width: 150px;
  height: 200px;
  background-color: #b4b4b4;
  text-align: center;
  line-height: 200px;
}
