.cast-sec {
  margin: 18px 0 20px;
  width: 60%;

  h6 {
    font-size: 1.7rem;
    margin-bottom: 15px;
  }
}

.slide-cast,
.slide-cast-few {
  width: 85%;

  p {
    width: 150px;
    font-size: 0.9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.slide-cast {
  margin-left: 60px;
}

.cast {
  width: 150px;
  height: 225px;
  object-fit: contain;
  display: block;
}

.no-actor {
  width: 150px;
  height: 225px;
  background-color: darkgray;
  text-align: center;
  line-height: 200px;
}

@media (max-width: 1810px) {
  .slide-cast,
  .slide-cast-few {
    width: auto;
  }
}
