.first-sec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .load-poster {
    width: 300px;
    height: 420px;
    background-color: gray;
  }

  .poster {
    width: 300px;
    // height: 420px;
    // object-fit: contain;
    height: auto;
  }

  .big-text {
    font-size: 3rem;
  }
}

.load-credit {
  width: 150px;
  height: 225px;
  background-color: gray;
}

.load-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .sample {
    width: 300px;
    height: 200px;
    background-color: gray;
  }
}

.buy,
.rent {
  display: flex;

  .logo-con {
    margin-left: 20px;
  }
}

.slide-creator {
  width: 170px;
  margin-left: 100px;
  padding: 0 10px;
}

.director-con {
  width: 150px;
  height: 300px;
  margin: 0 auto;
}

.director-img {
  display: block;
  width: 150px;
  height: 225px;
  object-fit: contain;
}

.load-similar,
.load-recommend {
  width: 190px;
  height: 280px;
  background-color: gray;
}
