.detail-container {
  width: 90%;
  margin: 0 auto;

  hr {
    background-color: lightgray;
    margin: 0 5px;
  }
}

.general-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin: 30px 0 20px;

  .load-poster {
    width: 300px;
    height: 420px;
    background-color: gray;
  }

  .poster {
    width: 300px;
    height: auto;
  }

  .big-text {
    font-size: 3rem;
  }
}

.general-text {
  margin-left: 150px;

  p {
    white-space: pre-wrap;
  }

  .name {
    font-size: 2.4rem;
  }

  .origin-name {
    margin-bottom: 12px;
  }
}

.korea-date {
  margin-left: 5px;
}

.load-credit {
  width: 150px;
  height: 225px;
  background-color: gray;
  text-align: center;
  line-height: 225px;
}

.load-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .sample {
    width: 300px;
    height: 200px;
    background-color: gray;
  }
}

.provider {
  margin-top: 5px;

  h6 {
    font: {
      weight: 700;
      size: 1rem;
    }
  }
}

.buy,
.rent {
  display: flex;
  align-items: center;
  margin: 5px 0;

  .logo-con {
    margin-left: 15px;
  }
}

.synopsis-sec {
  margin: 25px 0;

  h6 {
    font-size: 1.6rem;
    margin-bottom: 15px;
  }

  .tagline {
    margin-bottom: 7px;
  }

  .keyword {
    margin-top: 20px;
  }
}

.slide-creator {
  width: 170px;
  margin-left: 100px;
  padding: 0 10px;
}

.director-con {
  width: 150px;
  height: 300px;
  margin: 0 auto;
}

.director-img {
  display: block;
  width: 150px;
  height: 225px;
  object-fit: contain;
}

.load-similar,
.load-recommend {
  width: 190px;
  height: 280px;
  background-color: gray;
}
