.detail-container {
  width: 90%;
  margin: 0 auto;

  hr {
    background-color: lightgray;
    margin: 0 5px;
  }
}

.load-color {
  background-color: darkgray;
}

.general-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin: 30px 0 20px;

  .poster {
    width: 300px;
    height: auto;
  }

  .big-text {
    font-size: 3rem;
  }
}

.general-text {
  margin-left: 150px;

  p {
    white-space: pre-wrap;
  }

  .name {
    font-size: 2.4rem;
  }

  .origin-name {
    margin-bottom: 10px;
  }
}

.korea-date {
  margin-left: 5px;
}

.provider {
  margin-top: 5px;

  h6 {
    font: {
      weight: 700;
      size: 1rem;
    }
    margin-bottom: 3px;
  }
}

.buy,
.rent {
  display: flex;
  align-items: center;
  margin: 5px 0;

  .logo-con {
    margin-left: 15px;
  }
}

.synopsis-sec {
  margin: 25px 0 30px;

  h6 {
    font-size: 1.7rem;
    margin-bottom: 15px;
  }

  .tagline {
    margin-bottom: 7px;
  }

  .keyword {
    margin-top: 20px;
  }
}

.crew-sec {
  margin-bottom: 25px;

  h6 {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }

  .crew-img {
    display: block;
    width: 150px;
    height: 225px;
    object-fit: contain;
  }

  .crew-name {
    width: 150px;
    font-size: 0.9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .no-crew {
    font-size: 1.2rem;
  }
}

.no-creator {
  p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  a {
    font-weight: 700;
  }

  a::after {
    content: attr(href);
    display: none;
    position: absolute;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    border-radius: 20px / 50%;
  }

  a:hover::after {
    display: block;
  }
}

.slide-creator {
  width: 195px;
  margin-left: 60px;
  padding: 0 10px;
}

.load-credit {
  width: 150px;
  height: 225px;
  background-color: darkgray;
  text-align: center;
  line-height: 225px;
}

.load-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .sample {
    width: 300px;
    height: 200px;
    background-color: darkgray;
  }
}

.similar-sec,
.recommend-sec {
  h2 {
    font-size: 2rem;
    margin-bottom: 13px;
  }
}

.similar-sec {
  margin: 20px 0 35px;
}

.recommend-sec {
  margin-bottom: 75px;
}

.load-similar,
.load-recommend {
  width: 190px;
  height: 280px;
  background-color: darkgray;
  text-align: center;
  line-height: 280px;
}

@media (max-width: 665px) {
  .general-sec {
    flex-direction: column;
    height: auto;
    row-gap: 15px;
    margin: 30px 0 21px;
  }

  .synopsis-sec {
    width: 95%;
    margin: 25px auto 30px;
  }
}

@media (max-width: 450px) {
  .synopsis-sec {
    h6 {
      font-size: 1.6rem;
    }

    p {
      font-size: 0.95rem;
    }
  }
}

@media (min-width: 371px) and (max-width: 800px) {
  .general-text {
    .name {
      font-size: 2.1rem;
    }

    p {
      font-size: 0.95rem;
    }
  }
}

@media (max-width: 370px) {
  .general-text {
    .name {
      font-size: 1.8rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  .buy,
  .rent {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
  }
}

@media (min-width: 431px) and (max-width: 530px) {
  .recommend-sec {
    h2 {
      font-size: 1.6rem;
    }
  }
}

@media (min-width: 341px) and (max-width: 530px) {
  .recommend-sec {
    h2 {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 340px) {
  .similar-sec {
    h2 {
      font-size: 1.5rem;
    }
  }
  .recommend-sec {
    h2 {
      font-size: 1.08rem;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {
  .general-text {
    margin-left: 100px;
  }
}

@media (min-width: 881px) and (max-width: 1023px) {
  .general-text {
    margin-left: 70px;
  }
}

@media (min-width: 801px) and (max-width: 880px) {
  .general-text {
    margin-left: auto;
  }
}

@media (min-width: 666px) and (max-width: 800px) {
  .general-text {
    margin-left: 40px;
  }
}

@media (min-width: 371px) and (max-width: 665px) {
  .general-text {
    width: 300px;
    margin-left: 9px;
  }
}

@media (max-width: 370px) {
  .general-sec {
    .poster {
      width: 220px;
      height: auto;
    }
  }

  .general-text {
    width: 220px;
    margin-left: 0;
  }
}
