.gallery-sec {
  margin: 15px 0 30px;

  h2 {
    font-size: 1.9rem;
  }
}

.poster-con,
.backdrop-con {
  h6 {
    font-size: 1.3rem;
    margin: 0 0 3px 40px;
  }
}

.poster-con {
  margin-top: 10px;

  .posters {
    display: block;
    width: 150px;
    height: 225px;
    object-fit: cover;
  }
}

.backdrop-con {
  margin-top: 15px;

  .backdrops {
    display: block;
    width: 300px;
    height: 169px;
    object-fit: cover;
  }
}

.slide-poster,
.slide-backdrop {
  width: 85vw;
  margin: 0 auto;
}
