.nav-web {
  display: flex;
}

.menu-list {
  display: flex;

  li {
    margin: 10px;
  }

  .menu-button {
    font: {
      size: 1.1rem;
      weight: bold;
    }
  }
}

.nav-mobile {
  display: none;
}
