.item-con {
  height: 35px;
  border-bottom: 1px solid lightgray;
  text-align: center;

  &:hover {
    background-color: #b7bdc5;
  }

  .new {
    color: orange;
    font-style: italic;
  }
}

.up {
  color: #e12020;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.down {
  color: steelblue;
  margin: 0;
}
