.item-con {
  border-bottom: 1px solid lightgray;
  text-align: center;

  &:hover {
    background-color: #b7bdc5;
  }

  td {
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .new {
    color: orange;
    font-style: italic;
  }
}

.up {
  color: #e12020;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.down {
  color: steelblue;
  margin: 0;
}

@media (min-width: 331px) and (max-width: 1500px) {
  .item-con {
    font-size: 0.95rem;
  }
}

@media (max-width: 330px) {
  .item-con {
    font-size: 0.9rem;
  }
}

@media (max-width: 580px) {
  .no-mobile {
    display: none;
  }
}

@media (max-width: 420px) {
  .item-con {
    td {
      max-width: 170px;
    }
  }
}
