.first-con,
.second-con,
.third-con,
.fourth-con,
.last-con {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.first-con,
.last-con {
  justify-content: center;
  height: 450px;
}

.second-con,
.fourth-con {
  justify-content: flex-end;
}

.second-con,
.third-con,
.fourth-con {
  height: 400px;
}

.first-con {
  background: {
    image: linear-gradient(145deg, rgba(0, 0, 0, 0.227), rgba(0, 0, 0, 0.5) 30%),
      url("../images/main1_unsplash.jpg");
    size: cover;
    position: left 30%;
  }
}

.second-con {
  background: {
    image: linear-gradient(rgba(0, 0, 0, 0.327), rgba(0, 0, 0, 0.3)),
      linear-gradient(to left, #000 45%, transparent 65%),
      url("../images/main2_pexels.jpg");
    position: -20% 40%;
    size: auto, auto, 65%;
  }
}

.third-con {
  background: {
    image: linear-gradient(rgba(0, 0, 0, 0.327), rgba(0, 0, 0, 0.3)),
      linear-gradient(to right, #000 45%, transparent 65%),
      url("../images/main3_pexels.jpg");
    position: 142% 62%;
    size: auto, auto, 70%;
  }
}

.fourth-con {
  background: {
    image: linear-gradient(rgba(0, 0, 0, 0.327), rgba(0, 0, 0, 0.3)),
      linear-gradient(to left, #000 45%, transparent 65%),
      url("../images/main4_unsplash.jpg");
    position: -45% 48%;
    size: auto, auto, 80%;
  }
}

.last-con {
  background: {
    image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
      url("../images/main5_unsplash.jpg");
    size: cover;
    position: right center;
  }
}

.first-text,
.second-text,
.third-text,
.fourth-text,
.last-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 340px;
  color: white;
}

.first-text,
.last-text {
  align-items: center;

  h2 {
    font-size: 2.55rem;
    margin: 25px 0 23px;
  }

  p {
    font: {
      weight: 500;
      size: 1.4rem;
    }
  }
}

.second-text,
.third-text,
.fourth-text {
  h3 {
    font-size: 2.1rem;
    margin-bottom: 15px;
  }

  p {
    max-width: 600px;
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
}

.second-text {
  padding-right: 300px;
}

.fourth-text {
  padding-right: 200px;
}

.third-text {
  margin-left: 260px;
}

.fourth-text > p:last-of-type {
  font-size: 0.9rem;
}

@media (max-width: 922px) {
  .second-con {
    background: {
      position: 0% 20%;
      size: auto, auto, cover;
    }
  }
}

@media (max-width: 859px) {
  .third-con {
    background: {
      position: 0% 80%;
      size: auto, auto, cover;
    }
  }
}

@media (max-width: 624px) {
  .fourth-con {
    background: {
      position: 0% 40%;
      size: auto, auto, cover;
    }
  }
}

@media (min-width: 656px) and (max-width: 768px) {
  .first-text {
    h2 {
      font-size: 2.2rem;
      margin: 12px 0 8px;
    }
  }
}

@media (min-width: 540px) and (max-width: 655px) {
  .first-text {
    h2 {
      font-size: 1.8rem;
      margin: 12px 0 7px;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 461px) and (max-width: 539px) {
  .first-text {
    h2 {
      font-size: 1.5rem;
      margin: 12px 0 7px;
    }

    p {
      font-size: 1.1rem;
    }
  }
}

@media (min-width: 411px) and (max-width: 460px) {
  .first-text {
    h2 {
      font-size: 1.3rem;
      margin: 0 0 5px;
    }

    p {
      font-size: 1rem;
    }
  }
}

@media (min-width: 360px) and (max-width: 410px) {
  .first-text {
    h2 {
      font-size: 1.1rem;
      margin: 5px 0 6px;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 359px) {
  .first-text {
    h2 {
      font-size: 0.95rem;
      margin: 0 0 6px;
    }

    p {
      font-size: 0.8rem;
    }
  }
}

@media (min-width: 769px) and (max-width: 890px) {
  .last-text {
    h2 {
      font-size: 2.3rem;
      margin: 15px 0 15px;
    }
  }
}

@media (min-width: 696px) and (max-width: 768px) {
  .last-text {
    h2 {
      font-size: 2rem;
      margin: 10px 0 12px;
    }
  }
}

@media (min-width: 590px) and (max-width: 695px) {
  .last-text {
    h2 {
      font-size: 1.7rem;
      margin: 5px 0 11px;
    }

    p {
      font-size: 1.3rem;
    }
  }
}

@media (min-width: 481px) and (max-width: 589px) {
  .last-text {
    h2 {
      font-size: 1.4rem;
      margin: 8px 0 11px;
    }

    p {
      font-size: 1.1rem;
    }
  }
}

@media (min-width: 376px) and (max-width: 480px) {
  .last-text {
    h2 {
      font-size: 1.1rem;
      margin: 8px 0 5px;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 375px) {
  .last-text {
    h2 {
      font-size: 0.85rem;
      margin: 15px 0 10px;
    }

    p {
      font-size: 0.8rem;
    }
  }
}

@media (min-width: 1281px) and (max-width: 1600px) {
  .second-text {
    padding-right: 80px;
  }

  .third-text {
    margin-left: 65px;
  }

  .fourth-text {
    padding-right: 50px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .second-text {
    padding-right: 50px;
  }

  .third-text {
    margin-left: 60px;
  }

  .fourth-text {
    padding-right: 30px;

    p {
      max-width: 500px;
    }
  }
}

@media (max-width: 1023px) {
  .second-con,
  .third-con,
  .fourth-con {
    justify-content: center;
  }

  .second-con {
    background-image: linear-gradient(rgba(0, 0, 0, 0.627), rgba(0, 0, 0, 0.7)),
      linear-gradient(to left, #000 45%, transparent 65%),
      url("../images/main2_pexels.jpg");
  }

  .third-con {
    background-image: linear-gradient(rgba(0, 0, 0, 0.727), rgba(0, 0, 0, 0.7)),
      linear-gradient(to right, #000 45%, transparent 75%),
      url("../images/main3_pexels.jpg");
  }

  .fourth-con {
    background-image: linear-gradient(rgba(0, 0, 0, 0.627), rgba(0, 0, 0, 0.7)),
      linear-gradient(to left, #000 45%, transparent 65%),
      url("../images/main4_unsplash.jpg");
  }

  .third-text {
    margin-left: 0;
  }

  .second-text,
  .fourth-text {
    padding-right: 0;
  }

  .second-text,
  .third-text,
  .fourth-text {
    p {
      margin-bottom: 3px;
    }
  }
}

@media (min-width: 671px) and (max-width: 1023px) {
  .second-text,
  .third-text,
  .fourth-text {
    h3 {
      font-size: 2.3rem;
    }

    p {
      max-width: 480px;
    }
  }
}

@media (min-width: 561px) and (max-width: 670px) {
  .second-text,
  .third-text,
  .fourth-text {
    h3 {
      font-size: 1.9rem;
    }

    p {
      max-width: 440px;
      font-size: 1rem;
    }
  }
}

@media (min-width: 451px) and (max-width: 560px) {
  .second-text,
  .third-text,
  .fourth-text {
    h3 {
      font-size: 1.6rem;
    }

    p {
      max-width: 370px;
      font-size: 1rem;
    }
  }
}

@media (min-width: 381px) and (max-width: 450px) {
  .second-text,
  .third-text,
  .fourth-text {
    h3 {
      font-size: 1.3rem;
      margin-bottom: 10px;
    }

    p {
      max-width: 330px;
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 380px) {
  .second-text,
  .third-text,
  .fourth-text {
    h3 {
      font-size: 1rem;
      margin-bottom: 10px;
    }

    p {
      max-width: 230px;
      font-size: 0.8rem;
    }
  }

  .fourth-text > p:last-of-type {
    font-size: 0.8rem;
  }
}
