.mypage-con {
  border: 2px solid black;
  width: 250px;
  height: 180px;
  padding: 20px;

  h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
}

@media (max-width: 320px) {
  .mypage-con {
    width: 230px;
    height: 200px;
    padding: 22px;

    h3 {
      font-size: 1.6rem;
    }
  }
}
