.movie-con,
.tv-con {
  width: 90%;
  margin: 0 auto;
}

.slide-container,
.slide-con-first,
.slide-con-last {
  height: 390px;

  h1 {
    margin-bottom: 15px;
  }
}

.slide-container,
.slide-con-first {
  margin-bottom: 35px;
}

.slide-con-first {
  margin-top: 50px;
}

.slide-con-last {
  margin-bottom: 80px;
}
