.slide-container,
.slide-con-first,
.slide-con-last {
  height: 400px;

  h1 {
    margin: 0 0 15px 90px;
  }
}

.slide-container,
.slide-con-first {
  margin-bottom: 35px;
}

.slide-con-first {
  margin-top: 50px;
}

.slide-con-last {
  margin-bottom: 80px;
}
