.movie-con,
.tv-con {
  width: 90%;
  margin: 0 auto;
}

.slide-container,
.slide-con-first,
.slide-con-last {
  height: 390px;
  width: 99.5%;

  h1 {
    margin-bottom: 15px;
  }
}

.slide-container {
  margin: 0 auto 35px;
}

.slide-con-first {
  margin: 40px auto 35px;
}

.slide-con-last {
  margin: 0 auto 80px;
}
