.flatrate {
  display: flex;
  align-items: center;

  .logo-con {
    margin-left: 15px;

    .logo {
      width: 45px;
      height: 45px;
      object-fit: contain;
    }
  }

  p {
    white-space: pre-wrap;
  }
}

@media (max-width: 370px) {
  .flatrate {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;

    .logo-con {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
  }
}
