.view-container {
  width: 750px;
  height: 500px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-block: 1px solid lightgray;
}

.loading {
  width: 300px;
  height: 420px;
  margin: 0 auto;
  background-color: gray;
}

.poster {
  width: 320px;

  img {
    width: 300px;
    height: 420px;
    margin: 0 auto;
    object-fit: contain;
    display: block;
  }
}

.informaiton {
  width: 430px;
  padding: 0 40px;

  hr {
    background-color: lightgray;
    margin: 15px 0;
    height: 1px;
  }

  h4 {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }

  .middel-p,
  .actor-p {
    margin-bottom: 7px;
  }
}

.actor-p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
