.view-container {
  width: 750px;
  height: 500px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-block: 1px solid lightgray;
}

.loading {
  width: 300px;
  height: 420px;
  margin: 0 auto;
  background-color: gray;
}

.poster {
  width: 320px;

  img {
    width: 300px;
    height: 420px;
    margin: 0 auto;
    object-fit: contain;
    display: block;
  }
}

.informaiton {
  max-width: 430px;
  padding: 0 40px;

  hr {
    background-color: lightgray;
    margin: 15px 0;
    height: 1px;
  }

  h4 {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }

  .middel-p,
  .actor-p {
    margin-bottom: 7px;
  }
}

.actor-p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@media (min-width: 1024px) and (max-width: 1500px) {
  .view-container {
    .poster {
      width: auto;
      margin-left: 20px;
      min-width: 190px;
    }
  }

  .informaiton {
    padding: 0 25px;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .informaiton {
    h4 {
      font-size: 1.3rem;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 1023px) {
  .view-container {
    border-block: 0;
    border-bottom: 1px solid lightgray;
  }
}

@media (min-width: 691px) and (max-width: 1023px) {
  .view-container {
    width: auto;
  }
}

@media (max-width: 690px) {
  .view-container {
    width: 96%;
  }
}

@media (min-width: 661px) and (max-width: 1023px) {
  .view-container {
    .poster {
      margin-left: 10px;
    }
  }

  .informaiton {
    width: 370px;
    padding: 0 10px 0 25px;
  }
}

@media (max-width: 660px) {
  .view-container {
    height: 470px;

    .poster {
      margin-left: 20px;
    }
  }

  .informaiton {
    width: 340px;
    padding: 0 25px;
  }
}

@media (min-width: 611px) and (max-width: 660px) {
  .view-container {
    margin-top: 20px;
  }
}

@media (min-width: 581px) and (max-width: 610px) {
  .view-container {
    margin-top: 15px;
  }
}

@media (max-width: 580px) {
  .view-container {
    display: none;
  }
}
