.container {
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 300px;
  height: 420px;
  margin: 0 auto;
  background-color: gray;
}

.poster {
  width: 350px;

  img {
    width: 300px;
    height: auto;
    margin: 0 auto;
    // object-fit: cover;
  }
}

.informaiton {
  width: 400px;
}
